# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project Reports (Temporary)
report*/
my_result_report*/
output_report/
output/

# Input Models
input/

# Scratch & Temporary
scratch/
.DS_Store
